* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: inherit;
	font-weight: 400;
}

body {	
	height: 100%;	
	font-family: Nunito;
	font-weight: 600;
	line-height: 1;
	font-size: 18px;
	background-color: #fff;
	color: #5C6680;
}
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}

/**--------------------------технические классы-------------------------------------*/

._container {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/*-------------------------------PAGE----------------------------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__advantages {
}
.page__advise {
}
.page__specialities {
}
.page__cardiology {		
}
.page__best-doctors {
}
.page__meet-experts {
}
.page__subscribe {
}
/*-------------------------------HEADER--------------------------------------------*/

.header {
	
}
.header__container {
	min-height: 130px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: inline-block;
}
.header__menu {
	padding: 0 0 0 50px;
}
.menu {
	
}
.menu__body {
	display: flex;
	flex-wrap: wrap;
	padding: 5px 0;
	align-items: center;
}
.menu__body>*:not(:last-child) {
	margin: 0 47px 0 0;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
@media (max-width: 650px) {
	.menu__list {
		max-width: 200px;
	}
}

@media (max-width: 485px) {
	.header__logo {
		align-self: flex-start;
		padding-top: 20px;
	}
	.menu__body>*:not(:last-child)	{
		margin: 0;
	}
	.menu__list {
		max-width: 150px;
		padding: 10px 0;
	}	
}

.menu__item {
	padding: 5px 0;
}

.menu__item:not(:last-child) {
	margin: 0 47px 0 0;
}
.menu__link {
	font-size: 18px;
	line-height: 138%;
	text-transform: capitalize;
	color: #1D2B4F;
}

.menu__link:hover {
	text-decoration: underline;
}

.menu__btn {	
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid #FF6B00;
	transition: all 0.3s ease 0s;	
	font-size: 18px;
	line-height: 138%;
	text-transform: capitalize;
	color: #FF6B00;
	padding: 8px 18px;
}
.menu__btn:hover {
	color: #fff;
	background-color: #FF6B00;
}

/*--------------------------MAIN-BLOCK----------------------------*/
.main-block {
	padding: 58px 0 0 0;
	overflow: hidden;
	position: relative;
}

.main-block::after {
	
}

.main-block__container {
	display: flex;
	position: relative;
	padding: 0 15px 139px 15px;
}

.main-block__container::after {
	position: absolute;
	content: "";
	right: 1%;
	top: -5%;
	width: 507px;
	height: 650px;
	z-index: 1;
	background-image: url("../img/main-block/Group\ 239211.svg");
	background-repeat: no-repeat;
}

.main-block__container::before {
	position: absolute;
	content: "";
	right: 0;
	top: -10%;
	width: 100vw;
	height: 110%;
	background-color: #131E3A;
	transform: translate(88%, 0px);
} 

.main-block__body {
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 498px;
	padding: 0 30px 0 0;
	position: relative;
	z-index: 9;
} 

.main-block__title {
	font-weight: 800;
	font-size: 64px;
	line-height: 109%;
	letter-spacing: -0.05em;
	color: #1D2B4F;
	margin: 0 0 24px 0;
}


.main-block__text {
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 18px;
	line-height: 181%;
	color: rgba(74, 85, 114, 0.9);
	margin: 0 0 56px 0;
}

.main-block__btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid #FF6B00;
	background-color: #FF6B00;
	color: #fff;
	transition: all 0.3s ease 0s;	
	min-height: 66px;
	padding: 5px 28px;	
}

.main-block__btn:hover {
	background-color: #fff;
	color: #FF6B00;
}

.main-block__image {
	flex: 0 1 50%;
	position: absolute;
	width: 501px;
	height: 657px;
	top: -5%;
	right: 15%;
	object-fit: contain;
	z-index: 8;
	
}

.main-block__image img {
} 


@media (max-width: 992px) {
	.main-block__container {
		padding: 0 15px 64px 15px;
	}
	.main-block__image {		
		top: -5%;
		right: 0;		
	}	
}

@media (max-width: 840px) {
	.main-block__image img {
		opacity: 0.5;
	} 	
	.main-block__container::after,
	.main-block__container::before {
		display: none;
	}
}

@media (max-width: 767px) {
	.main-block {
		padding-top: 30px;
	}
	.main-block__container {
		padding-bottom: 115px;
	}
	.main-block__title {
		font-size: 50px;
		line-height: 103%;
		
	}
	.main-block__text {
		font-size: 16px;
		line-height: 171%;
		margin: 0 0 30px 0;
	}
}

@media (max-width: 600px) {
	.main-block__title {
		font-size: 32px;
		line-height: 103%;
	}

	.main-block__text {
		font-size: 16px;
		line-height: 151%;
		margin: 0 0 30px 0;
	}
}

@media (max-width: 477px) {
	.main-block__image {				
		right: -20%;		
	}	
}

@media (max-width: 400px) {
	.main-block__body {
		flex: 1 1 100%;
		align-items: center;
		text-align: center;
	}
	.main-block__image {				
		display: none;		
	}	
	.main-block__container::after {
		display: block;
		opacity: 0.5;
	}
	.main-block__container {		
		padding-bottom: 40px;
	}
}

/*----------------ADVANTAGES------------------------ */

.advantages {
	padding: 42px 0;
	background: #FFF8F3;
}
.advantages__container {
}
.advantages__items {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 0 0 0 190px; 
}
.advantages-item {	
	flex: 0 1 141px;
	display: flex;
	flex-direction: column;	
}

.advantages-item:not(:last-child) {
	margin: 0 86px 0 0;
}
.item {
}
.item__number {
	font-weight: 700;
	font-size: 36px;
	line-height: 136%;
	color: #1D2B4F;
}
.item__number:not(:last-child) {
	margin: 0 0 10px 0;
}
.item__text {
	font-size: 16px;
	line-height: 137.5%;
}

@media (max-width: 815px) {
	.advantages-item {
		align-items: center;
		/* justify-content: center; */
		flex: 1 1 100%;
		
		
	}
	.advantages-item:not(:last-child) {
		margin: 0 0 20px 0;
	}
	.advantages__items {
		justify-content: center;
		display: flex;
		margin-left: 0;
	}
}

/*----------------ADVISE------------------------ */

.advise {
	padding: 130px 0 85px 0;
}
.advise__container {
	text-align: center;
}

.advise__header {
	font-weight: 700;
	font-size: 48px;
	line-height: 129%;
	text-align: center;
	color: #1D2B4F;
	margin: 0 0 50px 0;
	
}

.advise__header--part {
	position: relative;
}

.advise__header--part::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 10px;
	right: 0;
	background-color: #FB6739;
}

.advise__header--part::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 6px;
	right: 0;
	background-color: #FB6739;
}

.advise__body {
	
}

.advise__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -16.5px;
}

.advise__item {
	
}
.item-advise {
	flex: 0 1 25%;
	padding: 0 16.5px 0 16.5px;
	min-height: 100%;	
}

.item-advise__body {
	border: 1px solid #E5E6E8;
	padding: 40px 5px 49px;
	min-height: 100%;
}

.item-advise__icon:not(:last-child) {
	margin: 0 0 30px 0;
}
.item-advise__label {
	font-size: 21px;
	line-height: 137.5%;
	letter-spacing: -0.02em;
	text-transform: capitalize;
	color: #1D2B4F;
}
@media (min-width: 1100px) {
	.item-advise__label {
		font-size: 24px;
	}
}	

@media (max-width: 767px) {	
	.advise__header {
		font-size: 40px;
		margin: 0 0 20px 0;
	}
	
		.advise__items {
			justify-content: space-around;
			margin-bottom: -20px;
		}
		.item-advise {
			flex: 0 1 50%;
			max-width: 325px;	
			margin-bottom: 20px;		
		}
	}

	@media (max-width: 479px) {
		.advise {
			padding: 60px 0 30px 0;
		}
		.advise__header {
			font-size: 28px;
			margin: 0 0 35px 0;
		}
		.item-advise {
			flex: 1 1 100%;
		}

		.advise__header--part::after {
			bottom: 5px;
		}
		
		.advise__header--part::before {
			bottom: 2px;
		}
	}
	/*------------------------SPECIALITIES-------------------------*/

	.specialities {
		padding: 0;
	}

	@media (max-width: 1155px) {
		.specialities {
			padding: 45px 0 0 0;
		}
	}
	.specialities__container {
		position: relative;
	}	
	.specialities__top>* {		
		margin: 0 0 25px 0;	
	}



	.specialities__title {
		flex: 0 1 50%;
		font-weight: 700;
		font-size: 48px;
		line-height: 135%;
		color: #1D2B4F;
		text-align: center;
	}


.specialities__title span {
	position: relative;
}

.specialities__title span::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 10px;
	right: 0;
	background-color: #FB6739;
}

.specialities__title span::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 6px;
	right: 0;
	background-color: #FB6739;
}

	.specialities__text {
		flex: 0 1 50%;
		font-weight: 400;
		line-height: 178%;
		color: #5C6680;
		text-align: center;
	}

	@media (min-width: 776px) {
		.specialities {
			padding: 85px 0 0 0;
		}
		.specialities__top {
			display: flex;
			justify-content: space-between;
			margin: 0 0 52px 0;			
		}
		.specialities__title {			
			margin: 0;	
			padding-right: 20px;	
		}		
	}
	/*------------------------CATEGORY-------------------------*/
	.specialities__category {
		
	}

	.category {
		display: flex;
		justify-content: space-between;
	}
	.category__list {
		display: flex;		
	}

		.category__item {
		padding: 42px 0 62px 0;
		flex: 1 1 16.667%;
	}

	
	@media (max-width: 1155px) {
		.category__list {
			flex-wrap: wrap	;	
		}
		.category__item {
			flex: 0 1 25%;
		}
		.category {
		display: flex;
		/* justify-content: space-between; */
	}
}

	.category__item:not(:last-child) {
		margin: 0 65px 0 0;
	}

	.category__item--1 {
		background-color: #FEF4F1;
		padding: 42px 20px 62px 16px;
		border-radius: 15px 15px 0px 0px;
		margin-right: 45px;
	}

	@media (max-width: 1155px) {
		.category__list {
			/* margin: 0 -150px; */
			justify-content: flex-end;
			flex-direction: row-reverse;
		}

		.category__item {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 22px 16px 22px 16px;
		}
		.category__item--1 {
			padding: 22px 16px 22px 16px;
			position: relative;
			left: 0;
		}
		
		.category__item--1 {
			order: 6;			
		}
		.category__item--2 {
			order: 5;
		}
		.category__item--3 {
			order: 4;
		}

		.category__item:first-child {
			margin: 0;
		}

		.category__arrows {
			align-self: flex-start;
		}
	}

	.category__item--1 .category__link {
		color: #1D2B4F;
	}

	.category__link {
		font-size: 24px;
		line-height: 125%;
		letter-spacing: -0.02em;
		color: #788093;
		cursor: pointer;
		display: inline-block;
	}
	.category__arrows {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-width: 62px;
	}
	.category__button-left {
		padding: 42px 0 62px 0;
	}
	.category__button-right {
		padding: 42px 0 62px 0;
	}

	@media (max-width: 776px) {
		.category__item:not(:last-child) {
			margin: 0;
		}
		.category__item {
			flex: 0 1 40%;
		}

		.category__arrows {
			display: none;
		}
	}

	@media (max-width: 550px) {		
		.category__item {
			flex: 0 1 100%;
			justify-content: flex-start;			
			padding-left: 50px;
			padding-right: 50px;	
		}
		.category__item--1 {
			flex: 0 1 50%;	
			text-align: center;
			padding-left: 50px;
			padding-right: 50px;	
		}		
		.category__link {
			
		}
	}
	/*------------------------CARDIOLOGY-------------------------*/
	.cardiology {		
		padding: 0 0 133px 0;
	}

	.cardiology__container {
		position: relative;
	}
	.cardiology__container::after {
		content: "";
		position: absolute;
		width: 100vw;
		height: 100%;
		background: #FEF4F1;
		top: 0;
		/* right: 98.8%;	 */
		left: 15px;
		/* transform: translate(100%, 0);		 */
	}
	
	
	.cardiology__body {
		display: flex;
		position: relative;
		padding: 100px 0 136px 50px;
		z-index: 3;
	}

	.content-cardiology {
		flex: 1 1 52.4%;
	}
	.cardiology__content {
		padding-right: 40px;
	}
	.content-cardiology>*:not(:last-child) {
		margin: 0 0 30px 0;
	}
	.content-cardiology__title {
		font-weight: 800;
		font-size: 36px;
		line-height: 83%;
		letter-spacing: -0.03em;
		text-transform: capitalize;
		color: #1D2B4F;
	}
	.content-cardiology__subtitle {
		font-size: 24px;
		line-height: 158%;
		text-transform: capitalize;
		color: #1D2B4F;
	}
	.content-cardiology__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 178%;		
	}
	.content-cardiology__btn {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		min-height: 66px;
		margin: 20px 0 0px 0;
		border: 1px solid #FF6B00;
		background-color: #FF6B00;
		color: #fff;
		padding: 5px 28px;		
		transition: all 0.3s ease 0s;
	}
	
	.content-cardiology__btn:hover {
		background-color: #fff;
		color: #FF6B00;
	}


	.cardiology__image {
		position: relative;
		flex: 0 1 43.52%;
		padding-bottom: 40.8%;
	}

	.cardiology__image img{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: contain;
	}

	@media (max-width: 992px) {
		.cardiology {
			padding-bottom: 80px;
		}
		.cardiology__body {
			padding: 50px 0 50px 50px;
		}
	
		.cardiology__image {
			display: none;		
		}		
	}


	@media (max-width: 1080px) {
		.cardiology__image {
			align-self: flex-start;
		}
	}

	
	/*--------------------------BEST-DOCTORS-------------------------*/
	
	.best-doctors {
		padding: 133px 0 60px 0;
	}
	.best-doctors__container {
		position: relative;
	}

	.best-doctors__container::before {
		content: "";
		position: absolute;
		width: 100vw;
		height: 394px;
		background-color: #14171D;
		top: -20%;
		left: 0;
		z-index: 1;
		transform: translate(-90%, 0);
	}
	
	.best-doctors__body {
		display: flex;
	}

	.best-doctors__image {
		flex: 0 1 57%;
		position: relative;
		padding-bottom: 41.79%;
		left: -7.47%;
		z-index: 3;
	}

	.best-doctors__image img {		
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: contain;
		
	}

	.best-doctors__image::after {
		content: "";
		position: absolute;		
		width: 237px;
		height: 149px;
		top: -14%;
		right: -11%;
		/* background: #FFF7F0; */
		background: url("/img/best_doctors/02.jpg");
		box-shadow: 0px 0px 48px rgba(172, 187, 201, 0.48);
	}

	.best-doctors__content {
		flex: 1 1 63%;
		padding: 0 0 0 34px;
	}
	.best-doctors__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 121%;
		letter-spacing: -0.04em;
		color: #1D2B4F;
		margin: 0 0 24px 0;
		position: relative;
		z-index: 6;
	}

	.best-doctors__title span {
		position: relative;
	}
	
	.best-doctors__title span::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 10px;
		right: 0;
		background-color: #FB6739;
	}

	.best-doctors__title span::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 6px;
		right: 0;
		background-color: #FB6739;
	}

	.best-doctors__subtitle {
		font-family: 'Poppins';
		font-weight: 400;
		line-height: 178%;
		margin: 0 0 48px 0;
	}
	.best-doctors__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 60px 0;
	}
	.best-doctors__item {
		flex: 0 1 25%;
		min-width: 215px;
		font-size: 24px;
		line-height: 125%;
		text-transform: capitalize;
		color: #1D2B4F;
		margin-bottom: 42px;
	}

		.best-doctors__item::before {
		content: "";
		width: 20px;
		height: 20px;		
		display: inline-block;
		background: url("/img/best_doctors/icons/01.svg") 0px 0 no-repeat;
		margin-right: 10px;
	}

	.best-doctors__item:first-child {
		margin: 0 49px 42px 0;
	}

	.best-doctors__item:nth-child(odd) {
		margin: 0 65px 0 0;

	}
	.best-doctors__item:last-child {
		margin-bottom: 0;
		min-width: 225px;
	}
	.best-doctors__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		line-height: 138%;
		text-transform: capitalize;
		color: #FFFFFF;
		background: #FF6B00;
		min-height: 60px;
		padding: 5px 41px;
		border: 1px solid #FF6B00;
	}
	.best-doctors__btn:hover {
		color: #FF6B00;
		background:#fff;
		transition: all 0.3s ease 0s;
	}

	@media (max-width: 1325px) {
		.best-doctors__container::before {
			display: none;
		}
		.best-doctors__image {
			left: 0;
		}
	}

	@media (max-width: 1055px) {
		.best-doctors__title {
			font-size: 42px;
		}
		.best-doctors__item {
			font-size: inherit;
			min-width: 180px;
			display: flex;
			flex-wrap: nowrap;
		}
	}
	@media (max-width: 992px) {
		.best-doctors {
			padding: 0 0 60px 0;
		}
		.best-doctors__image img {
			top: 3px;
		}
		.best-doctors__image {
			align-self: flex-start;
		}
		.best-doctors__title {
			font-size: 36px;			
			margin: 0 0 24px 0;
		}
		.best-doctors__subtitle {
			margin: 0 0 17px 0;
		}
		.best-doctors__list {			
			margin: 0 0 36px 0;
		}
		.best-doctors__item {			
			margin-bottom: 3px;
			flex: 0 1 50%;
			max-width: 150px;
		}

		.best-doctors__item:first-child {
			margin: 0;
		}
	
		.best-doctors__item:nth-child(odd) {
			margin: 0;
	
		}
		.best-doctors__item:last-child {
			max-width: 150px	
		} 

		.best-doctors__image::after {
			display: none;
		}		
	}

	@media (max-width: 870px) {
		.best-doctors__image {
			display: none;
			
		}
		.best-doctors__item {	
			
			margin-bottom: 10px;			
		}
	}
	@media (max-width: 479px) {
		.best-doctors__item,
		.best-doctors__item:first-child,	
		.best-doctors__item:nth-child(odd) {
			flex: 1 1 auto;
			min-width: 100%;
			margin-bottom: 20px;		
			font-size: 20px;	
		}
	}

	/*------------------EXPERTS------------------*/
	
	.experts {
		padding: 60px 0 87px 0;
	}
	.experts__container {
	}
	
	.experts__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 146%;
		letter-spacing: -0.04em;
		color: #1D2B4F;
		text-align: center;
		margin: 0 0 51px 0;
	}

	.experts__title span {
		position: relative;
	}
	
	.experts__title span::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 10px;
		right: 0;
		background-color: #FB6739;
	}
	
	.experts__title span::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 6px;
		right: 0;
		background-color: #FB6739;
	}
	.experts__row {
		display: flex;		
		margin: 0 -20px;
		margin-bottom: 42px;		
	}
	.experts__item {
		flex: 0 1 33.333%;
		padding: 0 20px;		
	}

	.item-experts {		
	}
	
	.item-experts__content {
		padding: 32px 33px 44px;
		border: 1px solid #F2BABA;
		border-radius: 10px;		
		display: flex;
		flex-direction: column;
		height: 100%;
		
	}
	.item-experts__image {
		margin: 0 0 28px 0;
		position: relative;
		padding: 0 0 96.13% 0;
	}

	.item-experts__image img {		
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: contain;
	}
	.item-experts__title {
		font-size: 24px;
		line-height: 137%;
		text-align: center;
		letter-spacing: -0.03em;
		text-transform: capitalize;
		color: #1D2B4F;
		margin: 0 0 4px 0;
	}
	.item-experts__label {
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		text-align: center;
		text-transform: capitalize;
	}

	.experts__btn-cover {
		display: flex;
		justify-content: center;
	}
	.experts__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		min-height: 60px;
		background: #FF6B00;
		color: #fff;
		line-height: 139%;
		text-transform: capitalize;
		padding: 18px 39px;
		border: 1px solid #FF6B00;
	}

	.experts__btn:hover {
		color: #FF6B00;
		background:#fff;
		transition: all 0.3s ease 0s;
	}

	@media (max-width: 825px) {
		.experts {
			padding: 60px 0 px 0;

		}
		.experts__title {
			margin: 0 0 30px 0;
		}

		.item-experts__content {
			padding: 17px 17px 25px;
		}
	}

	@media (max-width: 675px) {
		.experts {
			padding: 20px 0 40px 0;
		}
		.experts__item {
			flex: 1 1 100%;	
		}
		.experts__row {
			flex-wrap: wrap;	
		}
		.item-experts__content {
			padding: 30px;
		}
		.experts__item:not(:last-child) {
			margin: 0 0 25px 0;
		}	
	}

	@media (max-width: 479px) {
		.experts__title {
			font-size: 36px;
			line-height: 105%;
			margin: 0 0 25px 0;
		}
	}
	
	/*-------------------SUBSCRIBE----------------------*/
	
	.subscribe {
		padding: 87px 0 0 0;
	}
	.subscribe__container {
	}
	
	.subscribe__wrapper {
		margin: 0 70px 0 110px;
		padding: 57px 0 83px 0;
		background-color: #F5EEE1;
	}
	.subscribe__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 128% ;
		text-align: center;
		letter-spacing: -0.04em;			
		color: #1D2B4F;
		margin: 0 0 55px 0;
	}
	.subscribe__form {
		margin: 0 auto;
		/* text-align: center; */
		/* position: relative; */
	}
	.subscribe__form-wrap {
		display: flex;
		border: 1px solid #FF6B00;
		max-height: 60px;
		max-width: 435px;
		margin-left: 313px;
		min-height: 60px;
		justify-content: flex-end;
		align-items: center;
		padding-right: 10px;
		margin: 0 auto;
	}
	.subscribe__input {		
		font-weight: 400;
		line-height: 138%;
		background-color: #F5EEE1;	
		padding: 18px 140px 19px 15px;
		cursor: pointer;
		
	}
	.subscribe__button {
		max-height: 40px;
		background-color: #FF6B00;
		border: 1px solid  #FF6B00;
		color:#fff;
		padding: 8px 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;		
	}

	.subscribe__button:hover {
		color: #FF6B00;
		background:#F5EEE1;
		transition: all 0.3s ease 0s;
	}
	
	@media (max-width: 992px) {
		.subscribe {
			padding: 40px 0 0 0;
		}
		.subscribe__wrapper {
			max-width: 1250px;
			padding: 0 15px;
			margin: 0 auto;
			padding: 40px 0 40px 0;
		}
	}

	@media (max-width: 501px) {
		.subscribe__title {
			font-size: 30px;
			line-height: 116%;
			margin: 0 0 30px 0;
		}
		.subscribe__form-wrap {
			max-width: 341px;
		}
		.subscribe__input {
			padding-right: 45px;
		}
	}

	@media (max-width: 375px) {		
		.subscribe__form-wrap {
			max-width: 285px;
		}
		.subscribe__input {
			padding-right: 0;
		}
		.subscribe__button {
			margin-left: -13px;
		}
	}

	/*--------------------------FOOTER-------------------------*/
	.footer {
		padding: 60px 0 67px;
	}
	.footer__container {
		display: flex;
		flex-wrap: wrap;
	}
	.footer__header {
	}
	.header-footer {
		flex: 0 1 auto;
		max-width: 305px;
		margin: 0 10.9% 50px 0;
	}
	
	.header-footer__logo {
		display: inline-block;
		margin: 0 0 17px 0;
	}
	.header-footer__text {
		font-weight: 400;		
		line-height: 167%;
	}
	
	.footer__columns {
		flex: 1 1 100%;
		display: flex;
		/* flex-wrap: wrap; */
	}
	.footer__column {

	}
	.column {
		flex: 0 1 25%;
	}
	
	.column:last-child {
		flex: 0 1 50%;
	}

	.column__menu {
		
	}
	.menu-column {
	}

	.menu-column__title:not(:last-child) {
		margin: 0 0 26px 0;
		font-weight: 600;
		font-size: 24px;
		line-height: 100%;
		text-transform: capitalize;
		color: #1D2B4F;
	}

	.menu-column__list {
	}
	.menu-column__item:not(:last-child) {
		margin: 0 0 6px 0;
	}

	.menu-column__item--social:not(:last-child) {
		margin: 0 0 24px 0;
	}

	.menu-column__link {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		text-transform: capitalize;
	}

	.menu-column__link--social {
		display: inline-block;
		font-weight: 600;
		font-size: inherit;
		line-height: 133%;
		text-decoration-line: underline;
		position: relative;
		padding-left: 32px;
	}

	.menu-column__link--social::before {
		position: absolute;
		content: "";
		width: 23px;
		height: 23px;
		top: 1px;
		left: 0;
		background: url("/img/footer/et_linkedin.png") 0 0 no-repeat;
		
	}

	.menu-column__link--social2::before {
		background: url("/img/footer/fb.png") 0 0 no-repeat;
		
	}
	.menu-column__link--social3::before {
		background: url("/img/footer/twit.png") 0 0 no-repeat;
		
	}

	@media (max-width: 1120px) {
		.footer__container {			
			padding: 0 150px;
		}		
		.column {
			flex: 0 1 33.333%;
		}
		
	}

	@media (max-width: 992px) {		
		.footer__container {
			padding: 0 55px;
		}	
		.footer__columns {
			flex: 1 1 50%;
			/* margin-right: 100px; */
		}
		.footer__column:not(:last-child) {
			margin-right: 70px;
			margin-bottom: 30px;
		}
		.column:last-child {
			flex: 1 1 100%;
		} 

		.column__menu:not(:last-child)  {
			margin-bottom: 30px;
		}
	}
	
	@media (max-width: 750px) {	
		.footer__columns {
			flex-wrap: wrap;
			justify-content: center;
		}	
		.menu-column__list--social {
			display: flex;
			flex-wrap: wrap;
		}
		.menu-column__list--social li:not(:first-child) {
			margin-left: 10px;
		}
	}