* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: inherit;
	font-weight: 400;
}

body {	
	height: 100%;	
	font-family: Nunito;
	font-weight: 600;
	line-height: 1;
	font-size: 18px;
	background-color: #fff;
	color: #5C6680;
}
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}

/**--------------------------технические классы-------------------------------------*/

._container {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}

/* .btn {display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid #FF6B00;
	transition: all 0.3s ease 0s;	
	
} */

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/*-------------------------------PAGE----------------------------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {
}

.page__advantages {
}
/*-------------------------------HEADER--------------------------------------------*/

.header {
	
}
.header__container {
	min-height: 130px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: inline-block;
}
.header__menu {
	padding: 0 0 0 50px;
}
.menu {
	
}
.menu__body {
	display: flex;
	flex-wrap: wrap;
	padding: 5px 0;
	align-items: center;
}
.menu__body>*:not(:last-child) {
	margin: 0 47px 0 0;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
@media (max-width: 650px) {
	.menu__list {
		max-width: 200px;
	}
}

@media (max-width: 485px) {
	.header__logo {
		align-self: flex-start;
		padding-top: 20px;
	}
	.menu__body>*:not(:last-child)	{
		margin: 0;
	}
	.menu__list {
		max-width: 150px;
		padding: 10px 0;
	}	
}

.menu__item {
	padding: 5px 0;
}

.menu__item:not(:last-child) {
	margin: 0 47px 0 0;
}
.menu__link {
	font-size: 18px;
	line-height: 138%;
	text-transform: capitalize;
	color: #1D2B4F;
}

.menu__link:hover {
	text-decoration: underline;
}

.menu__btn {	
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid #FF6B00;
	transition: all 0.3s ease 0s;	
	font-size: 18px;
	line-height: 138%;
	text-transform: capitalize;
	color: #FF6B00;
	padding: 8px 18px;
}
.menu__btn:hover {
	color: #fff;
	background-color: #FF6B00;
}

/*--------------------------MAIN-BLOCK----------------------------*/
.main-block {
	padding: 58px 0 0 0;
	overflow: hidden;
	position: relative;
}

.main-block::after {
	
}

.main-block__container {
	display: flex;
	position: relative;
	padding: 0 15px 139px 15px;
}

.main-block__container::after {
	position: absolute;
	content: "";
	right: 1%;
	top: -5%;
	width: 507px;
	height: 650px;
	z-index: 1;
	background-image: url("../img/main-block/Group\ 239211.svg");
	background-repeat: no-repeat;
}

.main-block__container::before {
	position: absolute;
	content: "";
	right: 0;
	top: -10%;
	width: 100%;
	height: 110%;
	background-color: #131E3A;
	transform: translate(88%, 0px);
} 

.main-block__body {
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 498px;
	padding: 0 30px 0 0;
	position: relative;
	z-index: 9;
} 

.main-block__title {
	font-weight: 800;
	font-size: 64px;
	line-height: 109%;
	letter-spacing: -0.05em;
	color: #1D2B4F;
	margin: 0 0 24px 0;
}


.main-block__text {
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 18px;
	line-height: 181%;
	color: rgba(74, 85, 114, 0.9);
	margin: 0 0 56px 0;
}

.main-block__btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid #FF6B00;
	background-color: #FF6B00;
	color: #fff;
	transition: all 0.3s ease 0s;	
	min-height: 66px;
	padding: 5px 28px;	
}

.main-block__btn:hover {
	background-color: #fff;
	color: #FF6B00;
}

.main-block__image {
	flex: 0 1 50%;
	position: absolute;
	width: 501px;
	height: 657px;
	top: -5%;
	right: 15%;
	object-fit: contain;
	z-index: 8;
	
}

.main-block__image img {
} 


@media (max-width: 992px) {
	.main-block__container {
		padding: 0 15px 64px 15px;
	}
	.main-block__image {		
		top: -5%;
		right: 0;		
	}	
}

@media (max-width: 840px) {
	.main-block__image img {
		opacity: 0.5;
	} 	
	.main-block__container::after,
	.main-block__container::before {
		display: none;
	}
}

@media (max-width: 767px) {
	.main-block {
		padding-top: 30px;
	}
	.main-block__container {
		padding-bottom: 115px;
	}
	.main-block__title {
		font-size: 50px;
		line-height: 103%;
		
	}
	.main-block__text {
		font-size: 16px;
		line-height: 171%;
		margin: 0 0 30px 0;
	}
}

@media (max-width: 600px) {
	.main-block__title {
		font-size: 24px;
		line-height: 103%;
	}

	.main-block__text {
		font-size: 16px;
		line-height: 151%;
		margin: 0 0 30px 0;
	}
}

@media (max-width: 477px) {
	.main-block__image {				
		right: -20%;		
	}	
}

@media (max-width: 400px) {
	.main-block__body {
		flex: 1 1 100%;
		align-items: center;
		text-align: center;
	}
	.main-block__image {				
		display: none;		
	}	
	.main-block__container::after {
		display: block;
		opacity: 0.5;
	}
	.main-block__container {		
		padding-bottom: 40px;
	}
}

/*----------------ADVANTAGES------------------------ */

.advantages {
	padding: 42px 0;
	background: #FFF8F3;
}
.advantages__container {
}
.advantages__items {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	/* max-width: 600px;
	margin: 0 auto; */
	 margin: 0 0 0 190px; 
}
.advantages-item {	
	flex: 0 1 141px;
	display: flex;
	flex-direction: column;	
}

.advantages-item:not(:last-child) {
	margin: 0 86px 0 0;
}
.item {
}
.item__number {
	font-weight: 700;
	font-size: 36px;
	line-height: 136%;
	color: #1D2B4F;
}
.item__number:not(:last-child) {
	margin: 0 0 10px 0;
}
.item__text {
	font-size: 16px;
	line-height: 137.5%;
}

@media (max-width: 815px) {
	.advantages-item {
		align-items: center;
		/* justify-content: center; */
		flex: 1 1 100%;
		
		
	}
	.advantages-item:not(:last-child) {
		margin: 0 0 20px 0;
	}
	.advantages__items {		
		justify-content: center;
		display: flex;
		margin-left: 0;
	}
}