* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: inherit;
	font-weight: 400;
}

body {	
	height: 100%;	
	font-family: Nunito;
	font-weight: 600;
	line-height: 1;
	font-size: 18px;
	background-color: #fff;
	color: #5C6680;
}
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}

/**--------------------------технические классы-------------------------------------*/

._container {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}
/*-------------------------------HEADER--------------------------------------------*/

.header {
	
}
.header__container {
	min-height: 130px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: inline-block;
}
.header__menu {
	padding: 0 0 0 50px;
}
.menu {
	
}
.menu__body {
	display: flex;
	flex-wrap: wrap;
	padding: 5px 0;
	align-items: center;
}
.menu__body>*:not(:last-child) {
	margin: 0 47px 0 0;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
@media (max-width: 650px) {
	.menu__list {
		max-width: 200px;
	}
}

@media (max-width: 485px) {
	.menu__body>*:not(:last-child)	{
		margin: 0;
	}
	.menu__list {
		max-width: 150px;
		padding: 10px 0;
	}	
}

.menu__item {
	padding: 5px 0;
}

.menu__item:not(:last-child) {
	margin: 0 47px 0 0;
}
.menu__link {
	font-size: 18px;
	line-height: 138%;
	text-transform: capitalize;
	color: #1D2B4F;
}

.menu__link:hover {
	text-decoration: underline;
}
.menu__btn {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: 18px;
	line-height: 138%;
	text-transform: capitalize;
	color: #FF6B00;
	border: 1px solid #FF6B00;
	padding: 8px 18px;
}

